/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$post-background: #F0F0F0;

// Individual Post Styles

.container.posts {
	background-color: $post-background;

	.message {
		min-height: 60px;
	}

}

.row.post {
		padding: 10px 10px 10px 0;
		background-color: white;
		border: 1px solid black;

		.avatar {
			height: 125px;
			float: left;
		}
}

.post-children {
	background-color: darken( $post-background, 7% );

	.post-children {
		background-color: darken( $post-background, 14% );

		.post-children {
			background-color: darken( $post-background, 21% );

			.post-children {
				background-color: darken( $post-background, 28% );

				.post-children {
					background-color: darken( $post-background, 35% );

					.post-children {
						background-color: darken( $post-background, 42% );

						.post-children {
							background-color: darken( $post-background, 49% );

							.post-children {
								background-color: darken( $post-background, 56% );

								.post-children {
									background-color: darken( $post-background, 63% );

									.post-children {
										background-color: darken( $post-background, 70% );

									}

								}

							}
						}
					}

				}

			}
		}
	}
}
.post-children {
	padding-left: 15px;
}

// Woahhhh now. Don't let it go more than 10 levels deep.
.post-children .post-children .post-children .post-children .post-children .post-children .post-children .post-children .post-children .post-children {
	margin-left: 0;
}

#footer {
	height: 150px;
}
